/* color scheme
Light brown - #A18276
Purple-navy - #4F517D
Black - #000000
Cultured - #F5F3F5
Opal - #BAD1CD */
/* * {
    border: 1px solid black;
} */

body {
    display: grid;
    background-color: #f5f3f5;
}

h2 {
    text-align: center;
    background-color: #a18276;
    color: white;
}

#about-me {
    background-color: #f5f3f5;
}

h5{
    text-align: center;
}

div.projects {
    background-color: #4f517d;
    color: white;
}

form {
    margin: 10px 100px 100px 100px;
}

button {
    background-color: #4f517d;
    color: white;
    margin: 10px;
}

.submit-button {
    padding: 10px;
    border-radius: 10%;
}

#top-button {
    padding: 5px;
    border-radius: 10%;
}

input#formGroupExampleInput2.form-control {
    height: 200px;
    width: 100%;
    max-width: 768px;
}

input#formGroupExampleInput.form-control {
    width: 300px;
}

footer {
    display: grid;
    width: 100%;
    grid-template-areas:
    ". . button"
}

nav#top-button {
    grid-area: button;
    justify-self: end;
}
